<div class="d-flex justify-end mb-3">
    <MudMenu Color="Color.Secondary" Label="Actions" EndIcon="@Icons.Material.Filled.MoreHoriz" Variant="Variant.Filled" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
        <MudMenuItem Icon="@Icons.Material.Filled.Add" OnClick="OpenBudgetCreationForm">
            Add Budget
        </MudMenuItem>
    </MudMenu>
</div>
